
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --light-grayish-cyan-background: hsl(180, 52%, 96%);
    --light-grayish-cyan: hsl(180, 43%, 45%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%)
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin:10px
}

.metric{
    color:var(--dark-grayish-cyan)
}
.company{
    color: var(--light-grayish-cyan)
}

.new, .featured{
    background-color: var(--light-grayish-cyan);
    padding: 3px 5px;
    border-radius: 50px;
    color:white
}

.featured{
    background-color: var(--dark-grayish-cyan)
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'League Spartan';
    font-size: 15 ;
}

body{
    background-color: var(--light-grayish-cyan-background);
}
.banner{
    background-image:url(./images/bg-header-desktop.svg); 
    height: 150px;
    background-repeat: no-repeat;
    background-color: var(--dark-grayish-cyan);
    position: relative;
    display: flex;
    justify-content: center;
}

.filter-container{
    background-color: white;
    border:2px solid var(--light-grayish-cyan-background);
    width: 80%;
    position:absolute;
    bottom:-15px;
    padding:10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-btn{
    border-radius: 50%;
    background-color: var(--light-grayish-cyan);
    padding:5px;
    width: 30px;
    height: 30px;
    border:0;
    outline:none;
    color: var(--light-grayish-cyan-background);
    font-weight: 700;
    cursor: pointer;
}

.clear-btn:hover{
    background-color: var(--dark-grayish-cyan);
    color:white;
}
.filter-container ul{
    list-style: none;
    display: flex;
    gap:10px;
    flex-direction: row;
}

.filter-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding:5px 10px;
    border-radius: 20px;
    box-shadow: 2px 1px 5px var(--very-dark-grayish-cyan);
    background-color: var(--light-grayish-cyan);
    color: var(--light-grayish-cyan-background)
}
#display{
    margin:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.card{
    display:flex;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px var(--dark-grayish-cyan);
    padding:15px;
    border-radius: 10px;
    width: 100%;
}

.card:active, .card:hover{
    border-left: 4px solid var(--light-grayish-cyan);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
.card-left{
    background-color: transparent;
}

.card-left-info{
    padding-left:10px;
}

.card-right{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}

.card-right ul{
    list-style: none;
}

.card-right button{
    border: 0;
    background-color: var(--light-grayish-cyan-background);
    padding: 5px 10px;
    margin:2px;
    border-radius: 20px;
    font-weight: bold;
    color:var(--light-grayish-cyan);
    cursor: pointer;
}

.card-right button:hover{
    background-color: var(--light-grayish-cyan);
    color:var(--light-grayish-cyan-background)

}
@media(max-width:745px){
    #display{
        margin:3rem;
    };
    .card{
        border-top: 2px solid var(--very-dark-grayish-cyan);
    }
}
@media (max-width:345px) {

    #display{
        gap:3rem;
    }
    .card{
        position: relative;
    }

    .card-left{
        margin-top:2rem;
    }
    .image-container{
        position: absolute;
        top:-40px;
        left: 20px;
        transform:scale(0.7)
    }

    #display{
        margin:1rem;
    }

    .banner{
        background-image: url(./images/bg-header-mobile.svg);
    }
    .card-left{
        flex-direction: column;
    }

    .card-right{
        width:100%;
        border-top: 2px solid var(--dark-grayish-cyan);
        padding-top: 10px;
    }
}